/* universal */
/* --------------------------------------------------------------- */
* {
  /* outline: red 1px solid; */
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* header - desktop */
/* --------------------------------------------------------------- */

header .mobile {
  display: none;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: #c6c1c1 1px solid;
  background-color: white;
}

header .content {
  padding: 30px;
}

header .desktop .logo {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  color: #4a4a4a;
  flex: 1;
}

header .desktop nav ul li {
  padding-left: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 1.6;
}

#desktop-insta-icon {
  width: 16px;
  padding-left: 16px;
}

/*  header - mobile */
/* --------------------------------------------------------------- */

header .mobile nav {
  flex: 1;
  justify-content: space-around;
}

header .mobile nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .mobile .button {
  padding: 0.1875rem 0.5rem;
  background-color: #9dc20b;
  line-height: 1.6;
}

/* main */
/* --------------------------------------------------------------- */

main {
  position: relative;
  top: 86px;
}

/* banner */
/* --------------------------------------------------------------- */

#banner {
  display: flex;
  align-items: center;
  height: 43.5rem;
  background-image: url('/resources/images/banner-landingpage.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* sign-up-cta */
/* --------------------------------------------------------------- */

#sign-up-cta {
  background-color: #9dc20a;
  position: relative;
  left: 10%;
  border-radius: 4px;
}

#sign-up-cta .content {
  width: 25.625rem;
  text-align: center;
  color: white;
  line-height: 1.4;
  padding: 32px 80px 56px 80px;
}

#sign-up-cta h2 {
  font-family: 'Damion', cursive;
  font-size: 36px;
}

#sign-up-cta h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}

#sign-up-cta span {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 12px;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .button {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 1.25rem 7.25rem;
  margin-top: 26px;
}

/* features section*/
/* --------------------------------------------------------------- */

#features-section {
  display: flex;
  /* height: 635px; */

  /* display: flex;
  justify-content: space-between; */
  padding: 4rem 5%;
  background-color: #f3f3f3;
  /* background-color: #9dc20b; */
}

.feature {
  background-color: white;
  color: #4a4a4a;
  line-height: 1.2;
  text-align: center;
  padding: 32px;
  margin: 0px 1.25rem;
}

.feature .feature-header {
  font-size: 36px;
  font-weight: bold;
}

.feature .feature-text {
  font-weight: 300;
}

/* filters section*/
/* --------------------------------------------------------------- */

#filters-section {
  background-color: #4a4a4a;
  padding: 4rem 0;
}

#filters-section .content {
  color: white;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

#filters-section #filter-images {
  display: flex;
  padding: 0 1%;
}

/* quote section */
/* --------------------------------------------------------------- */

#quote-section {
  text-align: center;
  padding: 5rem 0;
  color: #4a4a4a;
}

#quote-section .quote {
  padding-right: 1.875rem;
  font-family: 'Palatino', serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
}

#quote-section .quote-citation {
  height: 1.875rem;
}

/* footer */
/* --------------------------------------------------------------- */

footer {
  position: relative;
  top: 86px;
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: 0.75rem;
}

footer .copyright {
  flex-grow: 1;
}

/* media queries */
/* --------------------------------------------------------------- */
@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 2;
  }

  .feature-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 760px) {
  /* header */
  /* --------------------------------------------------------------- */
  header .content .desktop {
    display: none;
  }
  header .content .mobile {
    display: flex;
  }
  header .content {
    padding: 11px;
  }

  /* main */
  /* --------------------------------------------------------------- */
  main {
    top: 3rem;
  }

  /* banner */
  /* --------------------------------------------------------------- */
  #banner {
    height: 28rem;
    justify-content: center;
  }

  /* sign-up cta */
  /* --------------------------------------------------------------- */
  #sign-up-cta {
    background-color: transparent;
    position: static;
  }

  #sign-up-cta #email {
    display: none;
  }

  /* features */
  /* --------------------------------------------------------------- */
  #features-section {
    display: block;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  .feature .image-container {
    width: 90%;
    margin: 0 auto;
  }

  .feature .content {
    padding: 1.25rem 0 1.875rem 0;
  }

  /* filters */
  /* --------------------------------------------------------------- */

  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: 0.625rem;
    font-size: 18px;
  }

  #filters-section .content p {
    padding-bottom: 0.625rem;
    font-size: 14px;
  }

  #filters-section #extra {
    display: none;
  }

  /* quote */
  /* --------------------------------------------------------------- */

  #quote-section {
    padding: 1.875rem 0.625rem;
  }

  #quote-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quote-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }

  /* footer */
  /* --------------------------------------------------------------- */

  footer .content {
    font-size: 0.625rem;
  }
}

@media only screen and (max-width: 450px) {
  #banner {
    height: 20rem;
  }
  #sign-up-cta h2 {
    font-size: 32px;
  }
  #sign-up-cta h1 {
    font-size: 36px;
  }
}
