/* --------------------------------------------------------------- */
/* universal */
/* --------------------------------------------------------------- */
* {
    /* outline: red 1px solid; */
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */
/* media queries */
/* --------------------------------------------------------------- */

@media only screen and (max-width: 760px){
    header .content .desktop {
        display:none;
    }
}
/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */
/* header - desktop */
/* --------------------------------------------------------------- */
header .mobile {
    display: none;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: #c6c1c1 1px solid;
}

header .content {
    padding: 30px;
}

header .desktop .logo
{
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    color: #4a4a4a;
    flex:1;
}

header .desktop nav ul li {
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.6;
}

#desktop-insta-icon {
    width: 16px;
    padding-left: 16px;
}

/* --------------------------------------------------------------- */



/*  header - mobile */

